<div class="container_list">
    <aside class="menu">
        <p class="menu-label" style="font-weight: bold; color: whitesmoke; font-family: 'Gelasio', serif;">
        Tiers
        </p>
        <ul class="menu-list">
        <li><a>Listes tiers</a></li>
        <li><a>Nouveau tiers</a></li>
        <li><a>Listes prospect</a></li>
        <li><a>Nouveau Prospect</a></li>
        <li><a>Listes clients</a></li>
        <li><a>Listes Fournisseurs</a></li>
        </ul>

        <p class="menu-label" style="font-weight: bold; color: whitesmoke; font-family: 'Gelasio', serif;">
        Contact | Adresse
        </p>
        <ul class="menu-list">
        <li><a>Listes</a></li>
            <ul class="menu-list">
                <li><a>Prospect</a></li>
                <li><a>Client</a></li>
                <li><a>Fournisseur</a></li>
                <li><a>Autre</a></li>
            </ul>
        </ul>
    </aside>
</div>