<div class="container is-fluid" style="margin-top: 50px;">
			<div class="columns">
				<div class="column">
					<div class="card">
						<header class="card-header-theme">
							<p class="card-header-title">
								Mes ventes
							</p>
							<a href="#" class="card-header-icon" aria-label="more options">
								<span class="icon">
									<i class="fas fa-gem" aria-hidden="true"></i>
								</span>
							</a>
						</header>
						<div class="card-content">
							<div class="content">
								<p class="bold">17800.66 €</p>
								<hr>
								<div class="columns">
									<div class="column">
										<a href="#" class="button is-warning">Ajouter une ventes</a>
									</div>
									<div class="column">
										<a href="#" class="button is-dark">Calculer le CA</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<header class="card-header-theme">
							<p class="card-header-title">
								Mes achats
							</p>
							<a href="#" class="card-header-icon" aria-label="more options">
								<span class="icon">
									<i class="fas fa-gem" aria-hidden="true"></i>
								</span>
							</a>
						</header>
						<div class="card-content">
							<div class="content">
								<p class="bold">
									6200.69 €</p>
								<hr>
								<div class="columns">
									<div class="column">
										<a href="#" class="button is-warning">Ajouter un achat</a>
									</div>
									<div class="column">
										<a href="#" class="button is-dark">Payer une fournisseur</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<header class="card-header-theme">
							<p class="card-header-title">
								Resultat du mois
							</p>
							<a href="#" class="card-header-icon" aria-label="more options">
								<span class="icon">
									<i class="fas fa-gem" aria-hidden="true"></i>
								</span>
							</a>
						</header>
						<div class="card-content">
							<div class="content">
								<p class="bold">
									900.06 €</p>
								<hr>
								<div class="columns">
									<div class="column">
										<a href="#" class="button is-warning">Créance client</a>
									</div>
									<div class="column">
										<a href="#" class="button is-dark">Créance fournisseur</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<header class="card-header-theme">
							<p class="card-header-title">
								Retard de paiement
							</p>
							<a href="#" class="card-header-icon" aria-label="more options">
								<span class="icon">
									<i class="fas fa-gem" aria-hidden="true"></i>
								</span>
							</a>
						</header>
						<div class="card-content">
							<div class="content">
								<p class="bold">
									3200.69 €</p>
								<hr>
								<div class="columns">
									<div class="column">
										<a href="#" class="button is-warning">Ajouter un réglement</a>
									</div>
									<div class="column">
										<a href="#" class="button is-dark">Ajouter un encaissement</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container is-fluid" style="margin-top: 20px;">
			<div class="columns is-desktop">
				<div class="column">
					<div class="card">
						<header class="card-header-theme">
							<p class="card-header-title-theme">
								INDICATEURS CLÉS
							</p>
							<a href="#" class="card-header-icon" aria-label="more options">
								<span class="icon">
									<i class="fas fa-gem" aria-hidden="true"></i>
								</span>
							</a>
						</header>
						<card class="card-content">
							<p class="p-title">
								On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
								L'avantage du Lorem Ipsum sur un texte générique comme Du texte
								Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale. Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là
								mais la majeure.
							</p>
						</card>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<header class="card-header-theme">
							<p class="card-header-title-theme">
								5 meilleurs clients
							</p>
							<a href="#" class="card-header-icon" aria-label="more options">
								<span class="icon">
									<i class="fas fa-gem" aria-hidden="true"></i>
								</span>
							</a>
						</header>
						<card class="card-content">
							<section class="dash-list">
								<ul class="card">
									<li style="list-style: none; font-family: 'Gelasio', serif; font-size: 20px;">
										<div class="card-body">
											<div class="columns">

												<div class="column">
													<span class="p-title">Page disign</span>
												</div>
												<div class="column">
													<span class="p-title">€249</span>
												</div>

												<div class="column">
													<span class="p-title">
														<a class="a-close" href="" style="float: right; padding-right: 5px;">
															<i class="fa fa-times"></i>
														</a>
													</span>
													<span class="title">
														<a class="a-edit" href="" style="float: right; margin-right: 6px;">
															<i class="fa fa-edit"></i>
														</a>
													</span>
												</div>
											</div>
										</div>
									</li>
									<li style="list-style: none; font-family: 'Gelasio', serif; font-size: 20px;">
										<div class="card-body">
											<div class="columns">

												<div class="column">
													<span class="p-title">Page disign</span>
												</div>
												<div class="column">
													<span class="p-title">€249</span>
												</div>

												<div class="column">
													<span class="p-title">
														<a class="a-close" href="" style="float: right; padding-right: 5px;">
															<i class="fa fa-times"></i>
														</a>
													</span>
													<span class="title">
														<a class="a-edit" href="" style="float: right; margin-right: 6px;">
															<i class="fa fa-edit"></i>
														</a>
													</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</section>
						</card>
					</div>
				</div>
			</div>
</div>